<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>
    <title>Home</title>

    </head>

    <body>
        <%- include('partials/globeNavbar.ejs') %>
            <h1>The Home Page</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, nemo nesciunt. Eius odio in officiis
                aperiam
                alias reprehenderit, fugiat modi debitis veniam, ea, neque consequuntur.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, nemo nesciunt. Eius odio in officiis
                aperiam
                alias reprehenderit, fugiat modi debitis veniam, ea, neque consequuntur.</p>
            <%- include('partials/footer.ejs') %>