<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Watch.css">
    <title>
        <%= Watch %> list
    </title>
</head>

<body>
    <h1>You are watching the <%= Watch %> watch list
    </h1>
</body>

</html>