<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Farm</title>
</head>

<body>
    <h1>Add A Farm</h1>
    <form action="/farms" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="farm name">
        <br>
        <label for="city">city</label>
        <input type="text" name="city" id="city" placeholder="Firetown, AZ">
        <br>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="Johndoe@gmail.com">
        <br>
        <button>Submit</button>
    </form>

</body>

</html>